@keyframes topFadeOut {
  0% {
    position: relative;
    opacity: 0; }
  50% {
    position: relative;
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes rightFadeInOut {
  0% {
    position: relative;
    right: -3rem;
    opacity: 0; }
  75% {
    position: relative;
    right: 80%;
    opacity: 1; }
  100% {
    opacity: 1;
    right: 80%; } }

:root {
  --color-primary: #2272ff;
  --color-secondary: #1d1d1d; }

#about-info .container {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  margin: auto; }

.about-title {
  font-size: 4rem;
  text-align: center;
  padding-top: 3%;
  text-transform: uppercase;
  letter-spacing: 0.4vw;
  color: #557174;
  font-family: 'Oswald', sans-serif; }

.about-content {
  margin-top: 4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 0.2vw; }

.about-content span {
  color: #557174;
  font-size: 3.4rem;
  text-transform: uppercase; }

.about-paragraph {
  font-weight: 300;
  font-size: 1.6rem;
  margin-top: 1.4rem;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 3%; }
  .about-paragraph-bonus {
    margin-top: 2%; }

.about-img {
  margin-top: 2rem;
  width: 50%;
  background-position: center;
  border-radius: 5%;
  box-shadow: 2px 2px 9px black;
  box-sizing: border-box; }

.about-img-text-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.about-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  margin: 3.2rem 0;
  padding: 0 5%; }
  .about-skills__1 {
    padding: 2% 4%;
    color: white;
    text-transform: uppercase;
    font-weight: 300; }
  .about-skills__2 {
    padding-bottom: 4%;
    font-weight: 300; }

@media screen and (min-width: 28.75em) {
  .about-content span {
    font-size: 3.6rem; } }

@media screen and (min-width: 46.25em) {
  .about-img-text-container {
    flex-direction: row; }
  #about-info .container {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: auto; }
  @-moz-document url-prefix() {
    .about-img {
      width: 100% !important; }
    #about-info .container {
      max-width: fit-content;
      margin: 0 6%; } }
  .about-title {
    font-size: 6rem; }
  .about-img {
    width: 40%;
    margin-right: 10%;
    margin-top: 4rem; }
  .about-skills {
    font-size: 1.6rem; }
  .about-content__paragraph {
    margin-top: 3%; } }

@media screen and (min-width: 55em) {
  #about-info .container {
    max-width: 750px;
    max-width: -moz-fit-content; }
  .about-title {
    font-size: 6.8rem; }
  .about-content span {
    font-size: 4.4rem; }
  .about-paragraph {
    font-size: 1.6rem; }
  .about-skills {
    font-size: 2rem; } }

@media screen and (min-width: 62.5em) {
  #about-info .container {
    max-width: 950px; }
  .about-title {
    font-size: 7.4rem; }
  .about-content span {
    font-size: 4.6rem; }
  .about-paragraph {
    font-size: 2.5rem; }
  .about-skills {
    font-size: 2.3rem; } }

@media screen and (min-width: 75em) {
  #about-info .container {
    max-width: 1050px; }
  .about-title {
    font-size: 8rem; }
  .about-content span {
    font-size: 4.8rem; }
  .about-paragraph {
    font-size: 2.7rem; }
  .about-skills {
    font-size: 2.5rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 700; }

body::before {
  content: '';
  position: fixed;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-secondary);
  opacity: 1;
  z-index: -1; }

:root {
  --color-primary: #2272ff;
  --color-secondary: #1d1d1d; }

.contact__button,
.portfolio-button,
.project-button {
  padding: 1rem 3rem;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  margin: 1rem 0;
  margin-top: 5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: 0.4s all;
  animation-name: topFadeOut;
  animation-duration: 7s;
  background: linear-gradient(to right, var(--color-primary) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.35s ease-out; }
  .contact__button:hover,
  .portfolio-button:hover,
  .project-button:hover {
    transform: translateY(-5px);
    background-position: left bottom; }

.project-button {
  margin-top: 0rem;
  animation-name: none; }

.contact__button a,
.portfolio-button a,
.project-button a {
  text-decoration: none;
  color: white;
  font-family: 'Neucha', cursive; }

.contact__button input {
  color: #fff;
  letter-spacing: 0.3rem; }

.section-title {
  font-size: 3.5rem;
  color: var(--color-primary);
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.19rem;
  animation-name: topFadeOut;
  animation-duration: 5s;
  transition: all 0.2s; }

.section-subtitle {
  color: white;
  font-size: 1.9rem;
  margin-top: 2.5rem;
  font-family: 'Neucha', cursive;
  animation-name: topFadeOut;
  animation-duration: 7s;
  transition: all 0.2s;
  letter-spacing: 0.05rem; }

@media screen and (min-width: 28.125em) {
  .section-subtitle {
    font-size: 2.2rem; }
  .single-text__paragraph {
    font-size: 2.2rem; } }

@media screen and (min-width: 37.5em) {
  .section-title {
    font-size: 4rem; }
  .section-subtitle {
    font-size: 2.5rem; } }

@media screen and (min-width: 50em) {
  .section-title {
    font-size: 5rem; }
  .section-subtitle {
    font-size: 3rem; } }

@media screen and (min-width: 56.25em) {
  .section-title {
    font-size: 6rem; }
  .section-subtitle {
    font-size: 3.5rem; } }

#form .container {
  max-width: 320px;
  margin: auto; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 13vh; }
  .form__input {
    border: none;
    background-color: transparent; }
    .form__input--message {
      border: 1px solid var(--color-primary);
      width: 100%; }

.contact__button {
  justify-content: center;
  align-self: center;
  width: 50%;
  padding: 1rem 3rem;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  margin: 1rem 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: 0.4s all;
  animation-name: topFadeOut;
  animation-duration: 7s;
  background: linear-gradient(to right, var(--color-primary) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.35s ease-out; }
  .contact__button:hover {
    transform: translateY(-5px);
    background-position: left bottom; }

input::-webkit-input-placeholder {
  color: var(--color-primary);
  font-family: 'Permanent Marker', cursive; }

input {
  padding: 3%;
  font-size: 3vw;
  text-transform: uppercase;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.19rem; }

input,
select,
textarea {
  color: var(--color-primary);
  outline: var(--color-primary); }

::placeholder {
  color: var(--color-primary);
  opacity: 1; }

input[type='number'] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

textarea {
  padding: 3%;
  font-size: 3vh;
  font-family: 'Neucha', cursive; }

textarea::-webkit-input-placeholder {
  color: var(--color-primary);
  font-family: 'Neucha', cursive; }

input.contact__button {
  color: white; }

#form.contact__button {
  margin-top: 2rem;
  width: 50%; }

.contact-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.19rem;
  font-size: 5vw;
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  color: var(--color-primary);
  letter-spacing: 0.4vw; }

.contact__form {
  text-align: left;
  display: flex;
  padding-bottom: 0;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 5%; }
  .contact__form--message {
    padding: 5% 0;
    font-family: 'Neucha', cursive; }

.contact__button {
  display: flex;
  justify-content: center; }
  .contact__button:hover {
    cursor: pointer;
    transform: translateY(-3px); }
  .contact__button:active {
    transform: translateY(3px); }

@media screen and (min-width: 26.25em) {
  .contact__form {
    flex-direction: row;
    margin-bottom: 5vw; }
  .form__input--message {
    height: 20vh;
    width: 64vw; }
  @-moz-document url-prefix() {
    .moz__form {
      margin-left: 17vw; } } }

@media screen and (max-width: 26.25em) {
  .contact__form--message {
    margin: 0 2%; } }

@media screen and (min-width: 26.25em) {
  .form {
    align-items: center; }
  #form .container {
    max-width: 400px;
    margin: 3% auto; }
  .contact__button {
    font-size: 2rem; }
  @-moz-document url-prefix() {
    #form .container {
      max-width: none; } } }

@media screen and (min-width: 46.25em) {
  .contact__button {
    font-size: 2rem; } }

@media screen and (min-width: 55em) {
  .contact__button {
    font-size: 2.7rem; } }

#footer {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footer-connect {
  padding: 2% 3%;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase; }

.footer-connect a {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1vw;
  text-decoration: none;
  color: white; }

.footer-btn {
  padding: 1rem 3rem;
  background-color: #557174;
  border: none;
  border-radius: 5px;
  margin: 1rem 0;
  font-size: 1.8rem;
  text-transform: uppercase; }

.footer-btn a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.2rem; }

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 0; }

.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  stroke-width: 0;
  stroke: currentColor;
  margin-bottom: 5%; }
  .icon:hover {
    cursor: pointer; }
  .icon-facebook {
    background-image: url(../img/SVG/facebook.svg);
    background-size: cover;
    color: transparent;
    margin-right: 2.6rem; }
  .icon-instagram {
    background-image: url(../img/SVG/instagram.svg);
    background-size: cover;
    color: transparent;
    margin-right: 2.6rem; }
  .icon-paper-plane {
    background-image: url(../img/SVG/paper-plane.svg);
    background-size: cover;
    color: transparent; }

svg:hover {
  fill: white; }

@media screen and (min-width: 46.25em) {
  .footer-connect {
    font-size: 3rem; }
  .footer-btn {
    font-size: 2rem; }
  .icon {
    height: 3rem;
    width: 3rem; } }

@media screen and (min-width: 55em) {
  .footer-connect {
    font-size: 4.8rem; }
  .footer-btn {
    font-size: 2.7rem; }
  .footer .icon {
    height: 3.8rem;
    width: 3.8rem; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif; }

.container {
  text-align: center;
  margin: 0 auto; }

#gallery .gallery__wrapper {
  background-color: #9dad7f; }

.gallery-menu {
  display: flex;
  font-weight: 300;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 0;
  padding: 2% 9%;
  padding-top: 0;
  line-height: 2rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 11%;
  padding-top: 0; }
  .gallery-menu li:not(:last-child) {
    margin-right: 4%; }

.gallery-menu a {
  color: black;
  text-decoration: none; }
  .gallery-menu a:hover {
    cursor: pointer; }

.caption {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1vw;
  text-transform: uppercase;
  margin-top: 0.5rem; }

#gallery .caption {
  color: #f7f7e8; }

.gallery__wrapper {
  background-color: #f7f7e8; }

.image-main,
.headshot-main {
  line-height: 0;
  height: 50vw;
  max-height: 800px;
  object-fit: contain;
  cursor: pointer; }

.thumbnails,
.headshot-thumbnails,
.videos-thumbnails {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2% 0;
  opacity: 1;
  transition: opacity 1.85s; }

.thumbnails li,
.headshot-thumbnails li,
.videos-thumbnails li {
  padding: 5px;
  line-height: 0; }

.gallery__img,
.headshot__img,
.videos__img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  background-position: center;
  cursor: pointer; }

#anv-player-wrapper {
  width: 150px !important; }

.headshot__img:hover {
  opacity: 0.75;
  cursor: pointer; }

.gallery__img:hover {
  opacity: 0.75;
  cursor: pointer; }

.videos__img:hover {
  opacity: 0.75;
  cursor: pointer; }

.headshot-arrow__right, .headshot-arrow__left {
  padding: 0 15%;
  cursor: pointer;
  color: #557174; }

.videos-arrow__right, .videos-arrow__left {
  padding: 0 15%;
  cursor: pointer;
  color: #557174; }

.figure,
figcaption {
  color: #557174; }

#arrows {
  padding-top: 2%; }

.material-icons {
  padding: 0 15%;
  cursor: pointer; }

.fa-arrow-right::before,
.fa-arrow-left::before {
  font-size: 3rem; }

.background-gallery::before {
  content: '';
  position: fixed;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  z-index: -1; }

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(8vh, auto);
  grid-gap: 3%;
  padding: 3%; }
  .gallery-title {
    font-family: 'Oswald', sans-serif;
    font-size: 2.8rem;
    text-align: center;
    padding: 3% 0;
    text-transform: uppercase;
    letter-spacing: 0.4vw;
    color: #557174; }
  .gallery-showtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 3vw;
    text-align: center;
    padding: 3% 0; }
  .gallery-tkc {
    grid-template-columns: repeat(2, 1fr); }

#gallery .gallery-title {
  color: #f7f7e8; }

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-size: cover; }

#selected-image {
  position: relative; }

#selected-image:target ~ #left-arrow,
#selected-image:target ~ #right-arrow {
  display: block; }

.close {
  position: absolute;
  top: 2%;
  right: 3%;
  z-index: 2;
  font-size: 5vw;
  padding: 10px;
  cursor: pointer;
  color: white; }

#left-arrow {
  position: absolute;
  top: 50%;
  font-size: 36px;
  color: white;
  cursor: pointer;
  z-index: 50;
  transform: translateY(-50%); }

#right-arrow {
  position: absolute;
  top: 50%;
  font-size: 36px;
  color: red;
  cursor: pointer;
  z-index: 50;
  transform: translateY(50%); }

#left-arrow {
  left: 10px; }

#right-arrow {
  right: 10px; }

#overlay__gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  overflow: auto; }

#modal__gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%; }

#modal__gallery img {
  width: 90vw;
  height: 90vh; }

.image-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none; }

.img-wrapper {
  position: relative; }

.image-container img {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  display: block; }

.videos iframe {
  width: auto; }

@media screen and (min-width: 26.25em) {
  .image-main,
  .headshot-main {
    height: 63vh; } }

@media screen and (min-width: 31.25em) {
  .gallery-title {
    font-size: 3.4rem; }
  .gallery-menu {
    font-size: 1.9rem; } }

@media screen and (min-width: 43.75em) {
  .gallery-title {
    font-size: 4rem; }
  .gallery-menu {
    font-size: 2.1rem; }
  .videos iframe {
    width: 500px;
    padding-bottom: 5%; } }

@media screen and (min-width: 50em) {
  .gallery-title {
    font-size: 4.4rem; }
  .gallery-menu {
    font-size: 2.4rem; }
  .fa-arrow-right::before,
  .fa-arrow-left::before {
    font-size: 3.5rem; } }

@media screen and (min-width: 55em) {
  .gallery-title {
    font-size: 5.5rem; }
  .gallery-menu {
    font-size: 2.6rem; }
  .fa-arrow-right::before,
  .fa-arrow-left::before {
    font-size: 4rem; } }

.hidden {
  display: none; }

.fadeout {
  opacity: 0;
  transition: all 2s ease; }

.margin-right {
  margin-right: 2.5%; }

.current-menu-item {
  color: black !important; }

.white-text {
  color: white; }

.different-color {
  color: #2272ff;
  font-family: 'Neucha', cursive; }

.large-text {
  font-size: 1.7501rem; }

:root {
  --color-primary: #2272ff;
  --color-secondary: #1d1d1d; }

.hero::before {
  content: '';
  position: fixed;
  width: 100%;
  top: 40px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/hero-mobile.jpg);
  opacity: 1;
  z-index: -1; }

.hero-description {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .hero-description__title {
    color: white;
    font-family: 'Lilita One', cursive;
    font-size: 6vw;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    text-shadow: 0.5px 0.5px 0 black;
    padding: 0 5%;
    background: rgba(0, 0, 0, 0.5); }

.hero-menu {
  color: #2272ff;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.1rem; }
  .hero-menu__subtitle {
    color: white;
    font-family: 'Neucha', cursive; }
  .hero-menu__container {
    padding: 0.5rem 0;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem; }

.hero-title {
  color: #c7cfb7;
  font-family: 'Oswald', sans-serif;
  font-size: 6vw;
  letter-spacing: 0.5vw;
  text-shadow: 0.5px 0.5px 0 gray;
  text-transform: uppercase; }
  .hero-title__container {
    display: flex;
    justify-content: flex-end; }

#intro {
  padding: 3rem 2.25rem;
  height: 100vh; }

#portfolio-overview,
#about-me,
#about-skills,
#projects-section {
  padding: 3rem 2.25rem;
  padding-top: 0; }

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3rem; }
  .portfolio-grid__box {
    height: auto;
    width: 50%;
    background-color: #2272ff;
    background-size: cover;
    opacity: 0.5;
    aspect-ratio: 1 /1; }
    .portfolio-grid__box:hover {
      opacity: 1;
      cursor: pointer;
      transition: all 0.4s; }
    .portfolio-grid__box-chris {
      background-image: url(../img/chris-site.png); }
    .portfolio-grid__box-rpg {
      background-image: url(../img/rpg-fit.png);
      background-position: center; }
    .portfolio-grid__box-harry {
      background-image: url(../img/harry-site.png);
      background-position: center; }
    .portfolio-grid__box-trillo {
      background-image: url(../img/trillo.png);
      background-position: center; }
    .portfolio-grid__box-nexter {
      background-image: url(../img/nexter.png); }
    .portfolio-grid__box-natours {
      background-image: url(../img/natours.png);
      background-position: center; }

@media screen and (min-width: 31.25em) {
  .portfolio-grid__box {
    width: 33%; } }

@media screen and (min-width: 56.25em) {
  .portfolio-grid__box {
    width: 16.666666%; }
  #intro,
  #portfolio-overview,
  #about-me,
  #about-skills,
  #projects-section {
    padding: 3rem 4.5rem; } }

:root {
  --color-primary: #2272ff;
  --color-secondary: #1d1d1d; }

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.2s; }
  .nav-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.2s; }
  .nav__title {
    font-family: 'Lilita One', cursive;
    font-size: 3rem;
    color: white;
    text-shadow: 0.5px 0.5px 0 black;
    text-transform: uppercase;
    padding: 1rem;
    padding-left: 2rem;
    transition: all 0.2s;
    position: absolute;
    left: 0;
    text-decoration: none; }

.nav.show {
  height: auto;
  transition: height 0.5s ease-in-out; }

.sandwich-button {
  padding: 0.5%;
  margin: 2%;
  margin-top: -38%;
  margin-right: 5%;
  background-color: transparent;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 3rem;
  color: #2272ff;
  z-index: 100; }
  .sandwich-button:hover {
    cursor: pointer; }
  .sandwich-button__close {
    background-color: transparent;
    margin-top: -2%;
    color: #2272ff;
    border: none;
    align-self: flex-end;
    margin-right: 3.5%;
    font-size: 3rem;
    transition: all 0.2s;
    z-index: 100; }
    .sandwich-button__close:hover {
      cursor: pointer; }

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease;
  display: none;
  /* Hide the menu by default */
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  padding-top: 3%; }
  .dropdown-menu__home {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2%;
    margin-top: 2%;
    text-shadow: 0.5px 0.5px 0 #c7cfb7;
    text-transform: uppercase; }
  .dropdown-menu__nothome {
    display: flex;
    padding: 0;
    text-transform: uppercase; }
  .dropdown-menu__list {
    width: 100%; }

.dropdown-menu.show {
  height: auto;
  transition: height 0.5s ease-in-out; }

.dropdown-menu li {
  display: inline-block;
  position: relative;
  background-color: #181818;
  width: 100%;
  text-align: center;
  border-top: 1px var(--color-secondary); }

.dropdown-menu a,
.dropdown-menu__home a {
  display: block;
  padding: 3.1rem 0;
  text-decoration: none;
  color: #2272ff;
  font-weight: 100; }

.dropdown-menu__home li a:hover {
  color: #c7cfb7; }

.dropdown-menu a {
  font-size: 2rem; }
  .dropdown-menu a:hover {
    color: white; }

.dropdown-menu__nothome a {
  font-size: 2.3vw; }
  .dropdown-menu__nothome a:hover {
    color: white; }

.dropdown-menu .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none; }

.dropdown-menu li:hover .sub-menu {
  display: block; }

.dropdown-menu.active {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  justify-content: space-evenly;
  font-size: 2rem;
  margin-top: -4.3rem;
  text-transform: uppercase;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center; }

li a {
  position: relative; }

li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #2272ff;
  transition: width 0.6s ease-in; }

.dropdown-menu__home li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #2272ff;
  transition: width 0.6s ease-in; }

li a:hover:before {
  width: 100%; }

.nav__nothome {
  display: flex;
  background-color: #2272ff;
  justify-content: space-around;
  align-items: center;
  transition: all 0.2s;
  height: 3.5vw; }

.nav-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.2s; }

.hero-menu__container h1 {
  font-family: 'Permanent Marker', cursive; }

@media screen and (min-width: 37.5em) {
  .sandwich-button {
    font-size: 4.5rem; }
    .sandwich-button__close {
      font-size: 4.5rem; }
  .dropdown-menu.active {
    margin-top: -5.5rem; }
  .hero-menu {
    font-size: 4.5rem; }
    .hero-menu__subtitle {
      font-size: 3rem; }
  .dropdown-menu a {
    font-size: 2.5rem; } }

@media screen and (min-width: 50em) {
  .sandwich-button {
    font-size: 5.5rem; }
    .sandwich-button__close {
      font-size: 5.5rem; }
  .dropdown-menu.active {
    margin-top: -6.5rem; }
  .hero-menu {
    font-size: 5rem; }
    .hero-menu__subtitle {
      font-size: 3.5rem; }
  .dropdown-menu a {
    font-size: 3rem; } }

@media screen and (min-width: 62.5em) {
  .sandwich-button__close {
    margin-top: -1.5%; } }

:root {
  --color-primary: #2272ff;
  --color-secondary: #1d1d1d; }

:root {
  --c1: #2272ff;
  --b2: #222;
  --b3: #333;
  --w1: #fff;
  --w2: #eee;
  --t1: all 0.5s ease 0s; }

.profile-skills {
  display: flex;
  top: 150px;
  position: relative;
  width: 100%;
  align-items: flex-start; }

.profile-skills > div {
  width: 32%;
  margin-right: 3%;
  border-radius: 2px;
  position: relative; }

ul.skills {
  width: 100%;
  position: relative;
  padding: 25px 35px;
  background: linear-gradient(0deg, var(--c1) 0 10px, var(--b2) 0 calc(100% - 10px), var(--c1) 0 100%); }

ul.skills2 {
  --c1: #9acd32; }

ul.skills3 {
  --c1: var(--color-primary); }

#sk3 {
  display: none; }

ul.skills:after {
  content: '';
  position: absolute;
  border: 40px solid #fff0;
  border-top-color: var(--b2);
  top: -30px;
  left: 10px;
  z-index: 0;
  transition: var(--t1);
  filter: drop-shadow(0 11px 0.1px var(--w1)); }

ul.skills:hover:before,
label:hover + ul.skills:before,
input:checked + label + ul.skills:before {
  transition: var(--t1);
  background-color: #2187e7;
  background-position: 0 50%; }

ul.skills:hover:after,
label:hover + ul.skills:after,
input:checked + label + ul.skills:after {
  top: -20px;
  transition: var(--t1);
  border-top-color: #2187e7; }

ul.skills2:hover:before,
label:hover + ul.skills2:before,
input:checked + label + ul.skills2:before {
  background-color: #9acd32; }

ul.skills2:hover:after,
label:hover + ul.skills2:after,
input:checked + label + ul.skills2:after {
  border-top-color: #9acd32; }

ul.skills3:hover:before,
label:hover + ul.skills3:before,
input:checked + label + ul.skills3:before {
  background-color: #2272ff; }

ul.skills3:hover:after,
label:hover + ul.skills3:after,
input:checked + label + ul.skills3:after {
  border-top-color: #2272ff; }

ul.skills li {
  --per: 50;
  --dur: calc(calc(var(--per) / 100) * 1.5s);
  margin: 0 0 5px 0;
  list-style: none;
  padding: 20px 0;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  color: var(--w2); }

ul.skills li:before {
  content: '';
  position: absolute;
  background: #1c1c1c;
  height: 16px;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  border: 1px solid #111;
  border-color: #111 #323232 #323232 #111;
  --track: #2292dd40;
  background: linear-gradient(90deg, var(--track) calc(calc(var(--per) * 1%) + 4px), #1c1c1c calc(calc(var(--per) * 1%) + 4px)); }

ul.skills2 li:before {
  --track: #9acd3240; }

ul.skills3 li:before {
  --track: #2272ff40; }

ul.skills li:after {
  content: '';
  height: 11px;
  margin: 0 0 2px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px #00c6ff66;
  left: 3px;
  width: 0%;
  bottom: 0;
  transition: all var(--dur) ease 0s;
  animation: start 1s ease 0s 2 alternate; }

ul.skills2 li:after {
  background: #9acd32;
  box-shadow: 0px 0px 10px 1px #9acd3299; }

ul.skills3 li:after {
  background: #2272ff;
  box-shadow: 0px 0px 10px 1px #2272ff99; }

ul.skills li:hover {
  filter: brightness(1.5);
  transition: var(--t1); }

ul.skills:hover li:after,
label:hover + ul.skills li:after,
input:checked + label + ul.skills li:after {
  width: calc(calc(var(--per) * 1%) - 2px); }

@keyframes start {
  100% {
    width: calc(calc(var(--per) * 1%) - 2px); } }

ul.skills2 li:after {
  animation-delay: 0.5s; }

ul.skills3 li:after {
  animation-delay: 1s; }

ul.skills li span {
  font-weight: 500; }

ul.skills li span:before {
  position: absolute;
  right: -25px;
  top: 43px;
  transition: var(--t1);
  content: '';
  opacity: 1;
  border: 7px solid #fff0; }

ul.skills li:hover span:before,
.profile-skills input:checked + label + ul.skills li span:before {
  transition: var(--t1);
  right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
  opacity: 1;
  border-right-color: #2187e7; }

ul.skills2 li:hover span:before,
.profile-skills input:checked + label + ul.skills2 li span:before {
  border-right-color: #9acd32; }

ul.skills3 li:hover span:before,
.profile-skills input:checked + label + ul.skills3 li span:before {
  border-right-color: #2272ff; }

ul.skills li span:after {
  position: absolute;
  right: -40px;
  top: 38px;
  transition: var(--t1);
  counter-reset: percent var(--per);
  /*content: counter(percent) "%";*/
  content: counter(percent);
  color: var(--b2);
  opacity: 1 !important;
  padding: 4px 6px;
  border-radius: 1px;
  font-weight: bold;
  pointer-events: none; }

ul.skills li:hover span:after,
.profile-skills input:checked + label + ul.skills li span:after {
  transition: var(--t1);
  right: calc(calc(85 - var(--per)) * 1%);
  right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
  opacity: 1;
  background: var(--c1); }

ul.skills2 li:hover span:after {
  background: #9acd32; }

ul.skills3 li:hover span:after {
  background: #2272ff; }

/*********************/
/*** SKILLS VALUES ***/
/*********************/
ul.skills li.sk-ani {
  --per: 85; }

ul.skills li.sk-cms {
  --per: 75; }

ul.skills li.sk-dis {
  --per: 90; }

ul.skills li.sk-dtb {
  --per: 65; }

ul.skills li.sk-pro {
  --per: 60; }

ul.skills li.sk-res {
  --per: 90; }

ul.skills li.sk-gim {
  --per: 90; }

ul.skills li.sk-ado {
  --per: 60; }

ul.skills li.sk-not {
  --per: 85; }

ul.skills li.sk-tri {
  --per: 70; }

ul.skills li.sk-wor {
  --per: 90; }

ul.skills li.sk-tre {
  --per: 65; }

ul.skills li.sk-css {
  --per: 95; }

ul.skills li.sk-htm {
  --per: 97; }

ul.skills li.sk-jav {
  --per: 70; }

ul.skills li.sk-php {
  --per: 65; }

ul.skills li.sk-sql {
  --per: 60; }

ul.skills li.sk-pug {
  --per: 40; }

/*********************/
/***** TOP LABELS ****/
/*********************/
.profile-skills input {
  display: none; }

.profile-skills label {
  background: var(--w1);
  position: absolute;
  top: -61px;
  left: 22px;
  z-index: 2;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  cursor: pointer;
  transition: var(--t1);
  box-shadow: 0 0 0 0 var(--w1); }

.profile-skills label:before {
  content: '';
  background: #fff0;
  position: absolute;
  top: 12px;
  left: 11px;
  z-index: 2;
  border: 9px solid var(--b2);
  border-top-width: 0;
  border-right-width: 0;
  transform: rotate(-45deg);
  width: 33px;
  height: 22px;
  border-radius: 2px;
  transition: var(--t1); }

.profile-skills label:hover {
  box-shadow: 0 0 0 3px var(--w1);
  transition: var(--t1); }

.profile-skills label:hover:before {
  border-color: var(--b2);
  transition: var(--t1); }

.profile-skills input:checked + label {
  box-shadow: 0 0 0 6px var(--w1);
  transition: var(--t1); }

.profile-skills input:checked + label:before {
  border-color: #2187e7; }

.profile-skills input#sk2:checked + label:before {
  border-color: #9acd32; }

.profile-skills input#sk3:checked + label:before {
  border-color: #2272ff; }

label[for='sk1'] {
  /*left: -10px;*/ }

label[for='sk2'] {
  /*left: calc(34% - 6px);*/ }

label[for='sk1']:before {
  border-color: cornflowerblue; }

label[for='sk2']:before {
  border-color: yellowgreen; }

label[for='sk3']:before {
  border-color: #2272ff; }

/*********************/
/*** BOTTOM LABELS ***/
/*********************/
ul.skills li.more {
  padding: 0;
  margin-bottom: 20px; }

ul.skills li.more:before,
ul.skills li.more:after {
  display: none; }

ul.skills li.more:hover {
  filter: none !important; }

ul.skills li.more div {
  max-height: 0;
  transition: var(--t1);
  overflow: hidden;
  padding: 0;
  width: 100%; }

ul.skills li.more input:checked ~ div {
  max-height: 150px;
  transition: var(--t1);
  padding: 20px 0 0; }

ul.skills li.more div span:before,
ul.skills li.more div span:after {
  display: none; }

ul.skills li.more label {
  background: linear-gradient(163deg, var(--b2) 50%, var(--w1) 50%);
  right: 0;
  left: inherit;
  top: inherit;
  bottom: -70px;
  color: var(--b2);
  background-size: 100% 300%;
  background-position-y: 100%;
  transition: var(--t1);
  width: 55px;
  height: 55px;
  right: -50px; }

ul.skills li.more label:before {
  border: 0;
  height: 100%;
  width: 100%;
  transform: rotate(0deg);
  content: '+';
  content: '\271A';
  font-size: 45px;
  line-height: 55px;
  left: 0;
  top: 0;
  text-align: center;
  color: var(--c1); }

ul.skills li.more label:hover {
  background-position-y: 0%;
  color: var(--w1) !important;
  transition: var(--t1);
  box-shadow: 0 0 0 10px var(--w1); }

ul.skills li.more span {
  background: #1c1c1c;
  border-radius: 1px;
  margin: 10px 10px 1px 1px;
  padding: 4px 8px;
  display: inline-block;
  border: 1px solid #111;
  border-color: #111 #323232 #323232 #111; }

ul.skills li.more span:hover {
  color: var(--w0);
  background: var(--c1);
  box-shadow: 0px 0px 5px 1px var(--c1);
  border-color: #fff2; }

ul.skills li.more input:checked + label {
  box-shadow: 0 0 0 9px var(--w1);
  background-position-y: 0%;
  color: var(--w0);
  bottom: -70px; }

ul.skills li.more input:checked + label:before {
  content: '\2759';
  transform: rotate(90deg);
  font-weight: 600; }

ul.skills li.more input:checked + label:hover {
  box-shadow: 0 0 0 0 var(--w1);
  background-position-y: 100%;
  color: var(--b2) !important; }

/*********************/
/*** MEDIA QUERIES ***/
/*********************/
@media only screen and (max-width: 1024px) {
  .content {
    height: 60vh; }
  .profile-skills {
    flex-direction: row;
    flex-wrap: wrap;
    top: 20px; }
  .profile-skills > div {
    width: 47% !important; }
  .profile-skills > div:nth-child(3) {
    width: 98% !important;
    margin-top: 120px; } }

/*** Mobile view disabled to get (almost) the desired thumbnail ***/
@media only screen and (max-width: 768px) {
  .content {
    height: 60vh; }
  .profile-skills {
    flex-direction: row;
    flex-wrap: wrap;
    top: 20px; }
  .profile-skills > div {
    width: 98% !important; }
  .profile-skills > div:nth-child(2),
  .profile-skills > div:nth-child(3) {
    margin-top: 120px; }
  ul.skills li:after {
    width: calc(calc(var(--per) * 1%) - 2px); }
  ul.skills li span:before {
    transition: var(--t1);
    right: calc(calc(96.5 - var(--per)) * 1%);
    opacity: 1;
    border-right-color: #2187e7; }
  ul.skills2 li span:before {
    border-right-color: #9acd32; }
  ul.skills3 li span:before {
    border-right-color: #2272ff; }
  ul.skills li span:after {
    transition: var(--t1);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
    opacity: 1;
    background: var(--c1); } }

:root {
  --color-primary: #2272ff;
  --color-secondary: #1d1d1d; }

.single {
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  align-items: center; }
  .single-img {
    width: 300px;
    -webkit-transform: perspective(800px) rotateY(18deg) scale(0.8) rotateX(10deg);
    transform: perspective(800px) rotateY(18deg) scale(0.8) rotateX(10deg);
    transition: 0.6s ease;
    box-shadow: 0 60px 123px -25px rgba(77, 112, 209, 0.42), 0 35px 75px -35px rgba(77, 112, 209, 0.42); }
  .single-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
    z-index: 20;
    transition: 0.2s all; }
    .single-text__title {
      font-size: 2.5rem;
      color: var(--color-primary);
      padding: 0rem 1.1rem;
      font-family: 'Permanent Marker', cursive;
      letter-spacing: 0.19rem;
      border: 3px solid var(--color-primary); }
    .single-text__paragraph {
      color: white;
      font-size: 1.9rem;
      padding: 5rem 0;
      font-family: 'Neucha', cursive;
      letter-spacing: 0.05rem; }

.reverse img {
  -webkit-transform: perspective(800px) rotateY(-25deg) scale(0.8) rotateX(10deg);
  transform: perspective(800px) rotateY(-25deg) scale(0.8) rotateX(10deg); }

@media screen and (min-width: 25em) {
  .single-img {
    width: 370px; } }

@media screen and (min-width: 28.125em) {
  .single-text__title {
    font-size: 3rem; }
  .single-text__paragraph {
    font-size: 2.2rem; } }

@media screen and (min-width: 31.25em) {
  .single-img {
    width: 450px; } }

@media screen and (min-width: 37.5em) {
  .single-text__title {
    font-size: 4rem; }
  .single-text__paragraph {
    font-size: 2.5rem; } }

@media screen and (min-width: 43.75em) {
  .single-img {
    width: 575px; } }

@media screen and (min-width: 56.25em) {
  .single-img {
    width: 750px; } }

@media screen and (min-width: 62.5em) {
  .single {
    flex-direction: row;
    padding: 10rem 0; }
    .single-img {
      width: 50%; }
      .single-img:hover {
        -webkit-transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1);
        transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1); }
  .reverse {
    flex-direction: row-reverse; }
  .reverse img:hover {
    -webkit-transform: perspective(800px) rotateY(15deg) translateY(-35px) rotateX(10deg) scale(1);
    transform: perspective(800px) rotateY(15deg) translateY(-35px) rotateX(10deg) scale(1); } }
