@keyframes topFadeOut {
  0% {
    position: relative;
    opacity: 0;
  }

  50% {
    position: relative;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: relative;
    right: -3rem;
    opacity: 0;
  }

  75% {
    position: relative;
    right: 80%;
    opacity: 1;
  }

  100% {
    opacity: 1;
    right: 80%;
  }
}
