body {
  &::before {
    content: '';
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1d1d1d;
    opacity: 1;
    z-index: -1;
  }
}

#about-info .container {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  margin: auto;
}

.about {
  &-title {
    font-size: 4rem;
    text-align: center;
    padding-top: 3%;
    text-transform: uppercase;
    letter-spacing: 0.4vw;
    color: #557174;
    font-family: 'Oswald', sans-serif;
  }

  &-content {
    margin-top: 4rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 0.2vw;
  }

  &-content span {
    color: #557174;
    font-size: 3.4rem;
    text-transform: uppercase;
  }
  &-paragraph {
    font-weight: 300;
    font-size: 1.6rem;
    margin-top: 1.4rem;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 3%;
    &-bonus {
      margin-top: 2%;
    }
  }

  &-img {
    margin-top: 2rem;
    width: 50%;
    background-position: center;
    border-radius: 5%;
    box-shadow: 2px 2px 9px black;
    box-sizing: border-box;
  }

  //Container to hold Headshot and about info text so they can snap side by side when screen gets bigger
  &-img-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin: 3.2rem 0;
    padding: 0 5%;
    &__1 {
      padding: 2% 4%;
      color: white;
      text-transform: uppercase;
      font-weight: 300;
    }

    &__2 {
      padding-bottom: 4%;
      font-weight: 300;
    }
  }
}

//Media Queries

@media screen and (min-width: 28.75em) {
  .about-content span {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 46.25em) {
  .about-img-text-container {
    flex-direction: row;
  }

  #about-info .container {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: auto;
  }

  @-moz-document url-prefix() {
    //Keeps image from getting super small in Firefox
    .about-img {
      width: 100% !important;
    }
    //Keeps image and text fluid as viewport gets wider, prevents firefox sizing issue
    #about-info .container {
      max-width: fit-content;
      margin: 0 6%;
    }
  }
  .about {
    &-title {
      font-size: 6rem;
    }
    &-img {
      width: 40%;
      margin-right: 10%;
      margin-top: 4rem;
    }
    &-skills {
      font-size: 1.6rem;
    }
    &-content {
      &__paragraph {
        margin-top: 3%;
      }
    }
  }
}

@media screen and (min-width: 55em) {
  #about-info .container {
    max-width: 750px;
    max-width: -moz-fit-content;
  }
  .about {
    &-title {
      font-size: 6.8rem;
    }
    &-content span {
      font-size: 4.4rem;
    }
    &-paragraph {
      font-size: 1.6rem;
    }
    &-skills {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 62.5em) {
  #about-info .container {
    max-width: 950px;
  }
  .about {
    &-title {
      font-size: 7.4rem;
    }
    &-content span {
      font-size: 4.6rem;
    }
    &-paragraph {
      font-size: 2.5rem;
    }
    &-skills {
      font-size: 2.3rem;
    }
  }
}

@media screen and (min-width: 75em) {
  #about-info .container {
    max-width: 1050px;
  }
  .about {
    &-title {
      font-size: 8rem;
    }
    &-content span {
      font-size: 4.8rem;
    }
    &-paragraph {
      font-size: 2.7rem;
    }
    &-skills {
      font-size: 2.5rem;
    }
  }
}
