@import '_variables.scss';
//Buttons

.contact__button,
.portfolio-button,
.project-button {
  padding: 1rem 3rem;
  background-color: transparent;
  border: 1.5px solid var(--color-primary);
  margin: 1rem 0;
  margin-top: 5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: 0.4s all;
  animation-name: topFadeOut;
  animation-duration: 7s;
  background: linear-gradient(
    to right,
    var(--color-primary) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.35s ease-out;

  &:hover {
    transform: translateY(-5px);
    background-position: left bottom;
  }
}

.project-button {
  margin-top: 0rem;
  animation-name: none;
}

.contact__button a,
.portfolio-button a,
.project-button a {
  text-decoration: none;
  color: white;
  font-family: 'Neucha', cursive;
}
.contact__button input {
  color: #fff;
  letter-spacing: 0.3rem;
}

//Layout
.section-title {
  font-size: 3.5rem;
  color: var(--color-primary);
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.19rem;
  animation-name: topFadeOut;
  animation-duration: 5s;
  transition: all 0.2s;
}

.section-subtitle {
  color: white;
  font-size: 1.9rem;
  margin-top: 2.5rem;
  font-family: 'Neucha', cursive;
  animation-name: topFadeOut;
  animation-duration: 7s;
  transition: all 0.2s;
  letter-spacing: 0.05rem;
}

.section-background {
  background-color: #9db2bf;
  padding: 0.75rem 2rem;
  padding-bottom: 2rem;
}

#projects-section {
  margin-top: 2rem;
}

@media screen and (min-width: 28.125em) {
  .section-subtitle {
    font-size: 2.2rem;
  }
  .single {
    &-text {
      &__paragraph {
        font-size: 2.2rem;
      }
    }
  }
}
@media screen and (min-width: $bp-small) {
  .section {
    &-title {
      font-size: 4rem;
    }
    &-subtitle {
      font-size: 2.5rem;
    }
  }
  .section-background {
    padding: 2rem 2rem;
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 43.75em) {
  .section-background {
    padding: 3rem 2rem;
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 50em) {
  .section {
    &-title {
      font-size: 5rem;
    }
    &-subtitle {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: $bp-medium) {
  .section {
    &-title {
      font-size: 6rem;
    }
    &-subtitle {
      font-size: 3.5rem;
    }
  }
}
