//Top Nav Bar
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.2s;

  &-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.2s;
  }

  &__title {
    font-family: 'Lilita One', cursive;
    font-size: 3rem;
    color: white;
    text-shadow: 0.5px 0.5px 0 black;
    text-transform: uppercase;
    padding: 1rem;
    padding-left: 2rem;
    transition: all 0.2s;
    position: absolute;
    left: 0;
    text-decoration: none;
  }
}

.nav.show {
  height: auto;
  transition: height 0.5s ease-in-out;
}

//Sandwich Button
.sandwich-button {
  padding: 0.5%;
  margin: 2%;
  margin-top: -38%;
  margin-right: 5%;
  background-color: transparent;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 3rem;
  color: #2272ff;
  z-index: 100;
  &:hover {
    cursor: pointer;
  }

  &__close {
    background-color: transparent;
    margin-top: -2%;
    color: #2272ff;
    border: none;
    align-self: flex-end;
    margin-right: 4%;
    font-size: 3rem;
    transition: all 0.2s;
    z-index: 100;
    &:hover {
      cursor: pointer;
    }
  }
}

// Collapsable Nav Menu

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease;
  display: none; /* Hide the menu by default */
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  padding-top: 3%;

  &__home {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2%;
    margin-top: 2%;
    text-shadow: 0.5px 0.5px 0 #c7cfb7;
    text-transform: uppercase;
  }

  &__nothome {
    display: flex;
    padding: 0;
    text-transform: uppercase;
  }
  &__list {
    width: 100%;
  }
}

.dropdown-menu.show {
  height: auto;
  transition: height 0.5s ease-in-out;
}

.dropdown-menu li {
  display: inline-block;
  position: relative;
  background-color: #181818;
  width: 100%;
  text-align: center;
}

.dropdown-menu a,
.dropdown-menu__home a {
  display: block;
  padding: 3.1rem 0;
  text-decoration: none;
  color: #2272ff;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
}

.dropdown-menu__home li a {
  &:hover {
    color: #c7cfb7;
  }
}

.dropdown-menu a {
  font-size: 2rem;
  &:hover {
    color: white;
  }
}
.dropdown-menu__nothome a {
  font-size: 2.3vw;
  &:hover {
    color: white;
  }
}

.dropdown-menu .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.dropdown-menu li:hover .sub-menu {
  display: block;
}

.dropdown-menu.active {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  justify-content: space-evenly;
  font-size: 2rem;
  margin-top: -4.3rem;
  text-transform: uppercase;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

//Hover Underline Effect
li a {
  position: relative;
}

li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #2272ff;
  transition: width 0.6s ease-in;
}

.dropdown-menu__home li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #2272ff;
  transition: width 0.6s ease-in;
}

li a:hover:before {
  width: 100%;
}

//Nav for Non Home pages
.nav {
  &__nothome {
    display: flex;
    background-color: #2272ff;
    justify-content: space-around;
    align-items: center;
    transition: all 0.2s;
    height: 3.5vw;
  }

  &-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.2s;
  }
}
//Media Queries

@media screen and (min-width: $bp-small) {
  .sandwich-button {
    font-size: 4.5rem;
    &__close {
      font-size: 4.5rem;
    }
  }
}

@media screen and (min-width: 50em) {
  .sandwich-button {
    font-size: 5.5rem;
    &__close {
      font-size: 5.5rem;
    }
  }
}

// @media screen and (min-width: 26.25em) {
//   .dropdown-menu__home a {
//     font-size: 5vw;
//     letter-spacing: 0.2vw;
//   }
// }

// @media screen and (max-width: 26.25em) {
//   .nav {
//     display: flex; //makes nav appear for mobile
//   }
// .dropdown-menu__home {
//   display: none; //gets rid of main menu for mobile
// }
// }
