@import '_variables.scss';

.single {
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  align-items: center;
  &-img {
    width: 300px;

    box-shadow: 0 60px 123px -25px hsla(224, 59%, 56%, 0.42),
      0 35px 75px -35px hsla(224, 59%, 56%, 0.42);
  }
  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
    z-index: 20;
    transition: 0.2s all;
    &__title {
      font-size: 2.5rem;
      color: var(--color-primary);
      padding: 0rem 1.1rem;
      font-family: 'Permanent Marker', cursive;
      letter-spacing: 0.19rem;
      border: 3px solid var(--color-primary);
    }
    &__paragraph {
      color: white;
      font-size: 1.9rem;
      padding: 5rem 0;
      font-family: 'Neucha', cursive;
      letter-spacing: 0.05rem;
    }
  }
}

//Media Queries

@media screen and (min-width: 25em) {
  .single {
    &-img {
      width: 370px;
    }
  }
}

@media screen and (min-width: 28.125em) {
  .single {
    &-text {
      &__title {
        font-size: 3rem;
      }
      &__paragraph {
        font-size: 2.2rem;
      }
    }
  }
}

@media screen and (min-width: $bp-smallest) {
  .single {
    &-img {
      width: 450px;
    }
  }
}

@media screen and (min-width: $bp-small) {
  .single {
    &-text {
      &__title {
        font-size: 4rem;
      }
      &__paragraph {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (min-width: 43.75em) {
  //700px
  .single {
    &-img {
      width: 575px;
    }
  }
}

@media screen and (min-width: $bp-medium) {
  .single {
    &-img {
      width: 750px;
    }
  }
}

@media screen and (min-width: 62.5em) {
  //1000px, divide into row
  .single {
    flex-direction: row;
    padding: 10rem 0;
    &-img {
      width: 50%;
      -webkit-transform: perspective(800px) rotateY(18deg) scale(0.8)
        rotateX(10deg);
      transform: perspective(800px) rotateY(18deg) scale(0.8) rotateX(10deg);
      transition: 0.6s ease;
      box-shadow: 0 60px 123px -25px hsla(224, 59%, 56%, 0.42),
        0 35px 75px -35px hsla(224, 59%, 56%, 0.42);
      &:hover {
        -webkit-transform: perspective(800px) rotateY(-15deg) translateY(-50px)
          rotateX(10deg) scale(1);
        transform: perspective(800px) rotateY(-15deg) translateY(-50px)
          rotateX(10deg) scale(1);
      }
    }
  }
  .reverse {
    flex-direction: row-reverse;
  }

  .reverse img {
    -webkit-transform: perspective(800px) rotateY(-25deg) scale(0.8)
      rotateX(10deg);
    transform: perspective(800px) rotateY(-25deg) scale(0.8) rotateX(10deg);
    &:hover {
      -webkit-transform: perspective(800px) rotateY(15deg) translateY(-35px)
        rotateX(10deg) scale(1);
      transform: perspective(800px) rotateY(15deg) translateY(-35px)
        rotateX(10deg) scale(1);
    }
  }
}
